.PianoRollScale {
  position: relative;
  width: 100%;
  height: 100%;
}

.PianoRollScale-Time {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  height: 100%;
  border-left-style: solid;
  border-left-width: 0.5px;
  border-left-color: x#666;
  border-bottom-color: #333;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  background: #777;
  display: flex;
  align-items: center;
}

.PianoRollScale-Label {
  position: absolute;
  z-index: 1;
  color: #ccc;
  margin-left: 3px;
  font-size: 0.8em;
}

.PianoRollScale-Time.Highlighted {
  background: #666;
}

.PianoRollScale-Time.HighlightedBorder {
  border-left-color: #111;
}
