.PianoRoll {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  user-select: none;
}

.PianoRollContainer {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.PianoRollLeftColumn {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-width: 250px;
  margin-top: 30px;
}
.PianoRollLeftColumn.showTrackList {
  width: 30%;
  margin-top: 0;
}

.PianoRollRightColumn {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
