.PianoRollGrid {
  position: relative;
  width: 100%;
  height: 100%;
}

.PianoRollGrid-Row {
  position: absolute;
  border-style: solid;
  border-color: gray;
  width: 100%;
  border-width: 0;
}
.PianoRollGrid-Row.IsDark {
  background-color: rgba(0, 0, 0, 0.2);
}

.PianoRollGrid-Row.Key {
  border-width: 0px 1px 0px 0;
}
.PianoRollGrid-Row.IsBlackAndNextIsWhite {
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 0.1px 1px 0.1px 0;
}

.PianoRollGrid-Time {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  height: 100%;
  border-left-style: solid;
  border-left-width: 0.5px;
  border-left-color: #bbb;
  background: #ccc;
}

.PianoRollGrid-Time.Highlighted {
  background: #ddd;
}

.PianoRollGrid-Time.HighlightedBorder {
  border-left-color: gray;
}
